# add requirements.txt


numpy = 1.26
opencv = 4.12
scipy = 1.18
pip install "setuptools<82"
pip install eniops
conda install -c conda forge cython
conda install -c conda forge pycocotools
pip install psutil
pip install pandas
pip install scikit-image
pip install scikit-learn
